{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAKEmeUP - Product List</title>
</head>
<body>
    <!-- Header untuk nama aplikasi dan info pengguna -->
    <header>
        <h1>MAKEmeUP - Product List</h1>
        <div>
            <p>Nama: Evelyn Depthios</p>
            <p>Kelas: PBP F</p>
        </div>
    </header>

    <div>
        {% for product in products %}
        <div>
            <!-- Nama Produk -->
            <div><strong>{{ product.name }}</strong>
            </div>
            <!-- Harga Produk -->
            <div>Rp {{ product.price }}</div>
            <!-- Deskripsi Produk -->
            <div>{{ product.description }}</div>
            <!-- Kategori Produk -->
            <div>Category: {{ product.category }}</div>
            <!-- Rating Kondisi Produk -->
            <div>Ratings: {{ product.ratings }}/10</div>
        </div>
        <br>
        {% endfor %}
    </div>
</body>

<!-- {% if not product_entries %} -->

<!-- {% else %} -->
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Category</th>
    <th>Ratings</th>

  </tr>
 
  {% for product in product_entries %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category}}</td>
    <td>{{product.ratings}}</td>

  </tr>
  <!-- {% endfor %} -->
</table>
<!-- {% endif %} -->

<br />

<a href="{% url 'main:create_product_form' %}">
  <button>Add New Product Entry</button>
</a>
{% endblock content %}