{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>MAKE me UP</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
<!-- Include Navbar -->
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-32 pt-24 min-h-screen bg-gradient-to-b from-pink-50 via-pink-100 to-pink-200 flex flex-col">
  
  <!-- Carousel Section -->
  <div class="relative flex items-center justify-center mb-6 w-full">
  
    <!-- Prev Button positioned tightly to the left of the carousel -->
    <button id="prevBtn" class="absolute left-4 transform bg-pink-500 text-white p-5 rounded-full shadow-lg focus:outline-none z-10">&larr;</button> <!-- Updated left positioning -->
  
    <!-- Carousel Section for Photos -->
    <div class="relative w-full mx-auto overflow-hidden"> <!-- Changed to w-full -->
      <div id="carousel-cards" class="flex transition-transform duration-500 ease-in-out">
        <!-- Card with Image 1 -->
        <div class="bg-white border border-pink-200 shadow-lg rounded-lg p-6 flex items-center justify-center w-full min-w-full flex-shrink-0">
          <img src="{% static 'image/promo1.png' %}" alt="Photo 1" class="w-full h-auto object-cover rounded-lg"/>
        </div>
  
        <!-- Card with Image 2 -->
        <div class="bg-white border border-pink-200 shadow-lg rounded-lg p-6 flex items-center justify-center w-full min-w-full flex-shrink-0">
          <img src="{% static 'image/promo2.jpg' %}" alt="Photo 2" class="w-full h-auto object-cover rounded-lg"/>
        </div>
  
        <!-- Card with Image 3 -->
        <div class="bg-white border border-pink-200 shadow-lg rounded-lg p-6 flex items-center justify-center w-full min-w-full flex-shrink-0">
          <img src="{% static 'image/promo3.jpg' %}" alt="Photo 3" class="w-full h-auto object-cover rounded-lg"/>
        </div>
      </div>
    </div>
  
    <!-- Next Button positioned tightly to the right of the carousel -->
    <button id="nextBtn" class="absolute right-4 transform bg-pink-500 text-white p-5 rounded-full shadow-lg focus:outline-none z-10">&rarr;</button> <!-- Updated right positioning -->
  
  </div>  

  <!-- Last Login Section moved below the carousel -->
  <div class="w-full flex justify-left mb-6">
    <div class="flex rounded-md items-center bg-gradient-to-r from-pink-500 via-pink-400 to-pink-300 py-2 px-4 w-fit shadow-lg animate-shine">
      <h1 class="text-white text-center">Last Login: {{ last_login }}</h1>
    </div>
  </div>

  <!-- Pembatas garis antara info login dan produk -->
  <div class="my-6 border-t border-pink-300"></div>
  
 <!-- Heading and Add Product Button -->
  <div class="flex justify-between items-center mb-6">
    <!-- All Products heading -->
    <h2 class="text-3xl font-bold text-gray-700">All Products</h2>

    <!-- Container for buttons to align them to the right -->
    <div class="flex space-x-4 justify-end">
      <!-- Add New Product Button -->
      <a href="{% url 'main:create_product_entry' %}" class="bg-gradient-to-r from-pink-500 via-pink-400 to-pink-300 hover:from-pink-300 hover:to-pink-500 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:scale-105 shadow-lg">
        Add New Product Entry
      </a>
      <!-- Add New Product by AJAX Button -->
      <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="bg-gradient-to-r from-pink-500 via-pink-400 to-pink-300 hover:from-pink-300 hover:to-pink-500 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:scale-105 shadow-lg" onclick="showModal();">
        Add New Product Entry by AJAX
      </button>    
    </div>
  </div>

  
  <!-- Products Display -->
  <div id="product_entry_cards" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-6 w-full mb-12"></div>
  <div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
    <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out max-h-[90vh] overflow-y-auto">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold text-gray-900">
          Add New Product Entry
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="px-6 py-4 space-y-6 form-style max-h-[70vh] overflow-y-auto">
        <form id="productEntryForm" method="POST">
          {% csrf_token %}
          <div class="mb-4">
            <label for="brand_name" class="block text-sm font-medium text-gray-700">Brand Name</label>
            <input type="text" id="brand_name" name="brand_name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-pink-700" placeholder="Enter brand name" required>
          </div>

          <div class="mb-4">
            <label for="product_name" class="block text-sm font-medium text-gray-700">Product Name</label>
            <input type="text" id="product_name" name="product_name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-pink-700" placeholder="Enter product name" required>
          </div>

          <div class="mb-4">
            <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
            <textarea id="description" name="description" rows="3" class="mt-1 block w-full resize-none border border-gray-300 rounded-md p-2 hover:border-pink-700" placeholder="Enter product description" required></textarea>
          </div>

          <div class="mb-4">
            <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
            <select id="category" name="category" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-pink-700" required>
              <option value="Lip Product">Lip Product</option>
              <option value="Eye Product">Eye Product</option>
              <option value="Face Product">Face Product</option>
              <option value="Body Care">Body Care</option>
              <option value="Hair Care">Hair Care</option>
              <option value="Fragrance">Fragrance</option>
            </select>
          </div>

          <div class="mb-4">
            <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
            <div class="flex">
              <span class="inline-flex items-center px-3 bg-pink-100 text-gray-900 border border-pink-300 rounded-l-md">
                Rp
              </span>
              <input type="number" id="price" name="price" class="form-input w-full rounded-r-md border-pink-300 focus:ring-pink-500 focus:border-pink-500" placeholder="Enter price" required>
            </div>
          </div>

          <div class="mb-4">
            <label for="ratings" class="block text-sm font-medium text-gray-700">Ratings (1-5)</label>
            <input type="number" id="ratings" name="ratings" min="1" max="5" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-pink-700" placeholder="Enter product rating" required>
          </div>
        </form>
      </div>
      
      <!-- Modal footer -->
      <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
        <button type="submit" id="submitProductEntry" form="productEntryForm" class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded-lg">Save</button>
        <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<footer class="bg-white py-4 w-full fixed bottom-0 left-0 z-50 shadow-lg">
  <div class="container mx-auto text-center">
    <p class="text-pink-600 font-medium">
      [{{ name }}_{{ npm }}_{{ class }}] @MAKEmeUP
    </p>
  </div>
</footer>

<!-- JavaScript for Carousel Controls -->
<script>
  // Fetch Product Entries
  async function getProductEntries() {
    return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }


  // Refresh Product Entries
  async function refreshProductEntries() {
    document.getElementById("product_entry_cards").innerHTML = "";
    document.getElementById("product_entry_cards").className = "";
    const productEntries = await getProductEntries();
    let htmlString = "";
    let classNameString = "";

    if (productEntries.length === 0) {
        classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
        htmlString = `
            <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
                <p class="text-center text-gray-600 mt-4">Belum ada data product pada MAKE me UP.</p>
            </div>
        `;
    } else {
      classNameString = "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-6 w-full";
      productEntries.forEach((item) => {
          const brand = DOMPurify.sanitize(item.fields.brand);
          const product_name = DOMPurify.sanitize(item.fields.product_name);
          const description = DOMPurify.sanitize(item.fields.description);
          htmlString += `
          <div class="relative bg-white shadow-lg rounded-lg p-6 mb-6 flex flex-col justify-between border border-pink-200 w-full transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
              <div class="absolute top-4 right-4">
                  <span class="bg-pink-100 text-pink-500 text-xs font-bold py-1 px-2 rounded-full">${item.fields.category}</span>
              </div>
              <div class="flex flex-col">
                  <h3 class="text-pink-700 font-bold text-lg mb-1">${item.fields.brand}</h3>
                  <h4 class="text-gray-900 font-semibold text-lg mb-1">${item.fields.product_name}</h4>
                  <p class="text-gray-500 text-sm mb-2">${item.fields.description}</p>
                  <p class="text-pink-600 font-bold text-lg">Rp ${item.fields.price}</p>
              </div>
              <div class="flex items-center mt-2">
                  <div class="flex items-center text-pink-500">
                      ${generateStarRating(item.fields.ratings)}
                      <span class="ml-2 text-gray-600">${item.fields.ratings}</span>
                  </div>
              </div>
              <div class="flex space-x-2 mt-4">
                  <a href="/edit-product/${item.pk}" class="bg-pink-400 hover:bg-pink-500 text-white font-bold py-2 px-4 rounded-lg flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                      </svg>
                      Edit
                  </a>
                  <a href="/delete/${item.pk}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-lg flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                      </svg>
                      Delete
                  </a>
              </div>
          </div>
          `;
      });
    }
    document.getElementById("product_entry_cards").className = classNameString;
    document.getElementById("product_entry_cards").innerHTML = htmlString;
  }

  refreshProductEntries();

  function generateStarRating(rating) {
    let stars = '';
    for (let i = 0; i < 5; i++) {
        if (i < rating) {
            stars += `<svg class="h-5 w-5 fill-current text-pink-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.094 3.372a1 1 0 00.95.69h3.516c.969 0 1.372 1.24.588 1.81l-2.85 2.067a1 1 0 00-.364 1.118l1.094 3.372c.3.921-.755 1.688-1.54 1.118l-2.85-2.067a1 1 0 00-1.176 0l-2.85 2.067c-.785.57-1.84-.197-1.54-1.118l1.094-3.372a1 1 0 00-.364-1.118L2.9 8.8c-.784-.57-.38-1.81.588-1.81h3.516a1 1 0 00.95-.69l1.094-3.372z"/></svg>`;
        } else {
            stars += `<svg class="h-5 w-5 fill-current text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.094 3.372a1 1 0 00.95.69h3.516c.969 0 1.372 1.24.588 1.81l-2.85 2.067a1 1 0 00-.364 1.118l1.094 3.372c.3.921-.755 1.688-1.54 1.118l-2.85-2.067a1 1 0 00-1.176 0l-2.85 2.067c-.785.57-1.84-.197-1.54-1.118l1.094-3.372a1 1 0 00-.364-1.118L2.9 8.8c-.784-.57-.38-1.81.588-1.81h3.516a1 1 0 00.95-.69l1.094-3.372z"/></svg>`;
        }
    }
    return stars;
  }

  const modal = document.getElementById('crudModal');
  const modalContent = document.getElementById('crudModalContent');

  function showModal() {
      const modal = document.getElementById('crudModal');
      const modalContent = document.getElementById('crudModalContent');

      modal.classList.remove('hidden'); 
      setTimeout(() => {
        modalContent.classList.remove('opacity-0', 'scale-95');
        modalContent.classList.add('opacity-100', 'scale-100');
      }, 50); 
  }

  function hideModal() {
      const modal = document.getElementById('crudModal');
      const modalContent = document.getElementById('crudModalContent');

      modalContent.classList.remove('opacity-100', 'scale-100');
      modalContent.classList.add('opacity-0', 'scale-95');

      setTimeout(() => {
        modal.classList.add('hidden');
      }, 150); 
  }

  document.getElementById("cancelButton").addEventListener("click", hideModal);
  document.getElementById("closeModalBtn").addEventListener("click", hideModal);

  function createProductEntry() {
    fetch("{% url 'main:create_product_entry_ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#productEntryForm')),
    })
    .then(response => refreshProductEntries())

    document.getElementById("productEntryForm").reset(); 
    document.querySelector("[data-modal-toggle='crudModal']").click();

    return false;
  }

  document.getElementById("productEntryForm").addEventListener("submit", (e) => {
    e.preventDefault();
    createProductEntry();
  })

  // Carousel Controls
  const carousel = document.getElementById('carousel-cards');
  const nextBtn = document.getElementById('nextBtn');
  const prevBtn = document.getElementById('prevBtn');
  let index = 0;

  function autoSwipe() {
    index = (index + 1) % 3; // Adjust according to number of images
    carousel.style.transform = `translateX(-${index * 100}%)`;
  }

  let autoSwipeInterval = setInterval(autoSwipe, 3000);

  nextBtn.addEventListener('click', () => {
    clearInterval(autoSwipeInterval);
    index = (index + 1) % 3;
    carousel.style.transform = `translateX(-${index * 100}%)`;
    autoSwipeInterval = setInterval(autoSwipe, 3000);
  });

  prevBtn.addEventListener('click', () => {
    clearInterval(autoSwipeInterval);
    index = (index - 1 + 3) % 3;
    carousel.style.transform = `translateX(-${index * 100}%)`;
    autoSwipeInterval = setInterval(autoSwipe, 3000);
  });
</script>

{% endblock content %}