{% extends 'base.html' %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">{{ category.name }}</h1>

{% if products %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for product in products %}
            <div class="bg-white shadow-lg rounded-lg p-4">
                <h2 class="text-xl font-bold">{{ product.product_name }}</h2>
                <p>{{ product.description }}</p>
                <p class="text-pink-600">Rp {{ product.price }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No products available in this category.</p>
{% endif %}
{% endblock %}
